/* importações*/


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
      



/* configuração global */

* {


  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 1s ease;
  letter-spacing: 1.5px;
  font-family: 'Montserrat', monospace;

 }

 /* Variaveis */

 :root {

  /* paleta de cores*/

  --violet-900: #4c1d95;
  --violet-700: #6d28d9;
  --violet-500: #8b5cf6;
  --violet-300: #c4b5fd;
  --violet-100: #ede9fe;
  

 }



/* Corpo do site */
body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: rgb(0, 0, 0);
}


/* Cabeçalho do site */
.header-top:after {
    display: block;
    clear: both;
    content: '';
}
.site-header .header-top .top-links {
    float: left;
    margin-top: 4px;
}
.site-header .header-top .top-links span:first-child {
    border-left: 0;
}

/* Barra de navegação do site */
/* TOPO */
.topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #fff;
  font-family: Arial, sans-serif;
  flex-wrap: wrap;
}
 
.logo {
  
  height: 80px;
}
img{
vertical-align: top;
}
.info-topo {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  color: #000;
  font-size: 14px;
}

.botao-localizacao {
  border: 2px solid #6c21c7;
  padding: 6px 12px;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  transition: background 0.3s, color 0.3s;
}

.botao-localizacao:hover {
  background-color: #000;
  color: #fff;
}

/* Barra menu */
.barra-menu {
  background-color: var(--violet-500);
}

.barra-menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 10px 0;
  gap: 30px;
}

.barra-menu li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  transition: color 0.3s;
}

.barra-menu li a:hover {
  color: #ccc;
}



/* Primeiro contéudo */


.banner {
  position: relative;
}

.banner:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.banner .banner-text {
  z-index: 1;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  height: auto;
}

.banner .banner-text .text {
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

.banner img {
  width: 100%;
  height: 692px;
  object-fit: cover;
}
.banner .banner-text .title,
.banner .banner-text .text span {
  font-size: 50px;
  line-height: 62px;
  margin: 0 0 15px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0;
  text-transform: none;
}

.banner .banner-text .btn-holder .btn-free-inquiry,
.banner .banner-text .text .course-link {
  font-size: 16px;
  line-height: 25px;
  color: #fff;
  border: 2px solid #000000;
  background: #000000;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 23px;
  margin: 0 7px;
  font-weight: 400;
  -webkit-transition: ease 0.2s;
  -moz-transition: ease 0.2s;
  transition: ease 0.2s;
}

.banner .banner-text .btn-holder .btn-free-inquiry:hover,
.banner .banner-text .btn-holder .btn-free-inquiry:focus,
.banner .banner-text .text .course-link:hover,
.banner .banner-text .text .course-link:focus {
  text-decoration: none;
  background: none;
}

.banner .banner-text .btn-holder .btn-view-service {
  font-size: 16px;
  line-height: 25px;
  color: var(--violet-700);
  border: 2px solid var(--violet-900);
  background: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 23px;
  margin: 0 7px;
  -webkit-transition: ease 0.2s;
  -moz-transition: ease 0.2s;
  transition: ease 0.2s;
}

.banner .banner-text .btn-holder .btn-view-service:hover,
.banner .banner-text .btn-holder .btn-view-service:focus {
  text-decoration: none;
  background: #fff;
  color: #000000;
}
.video-banner .wp-custom-header {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.video-banner iframe,
.video-banner video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.banner .wp-custom-header-video-button {
  position: absolute;
  bottom: 40px;
  left: 20px;
  z-index: 2;
  padding: 0;
  margin: 0;
  background: none;
  border: 0;
  border-radius: 0;
  font-size: 0;
  box-shadow: none;
  text-shadow: none;
}

.banner .wp-custom-header-video-play:after {
  content: "\f04b";
  font-family: "FontAwesome";
  color: #fff;
  font-size: 30px;
}

.banner .wp-custom-header-video-pause:after {
  content: "\f04c";
  font-family: "FontAwesome";
  color: #fff;
  font-size: 30px;
}
section {

  text-align: center;
  padding: 60px 20px;
}

section h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

section button {

  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  background-color: white;

  box-shadow: rgb(0, 0, 0) 0px 7px 29px 0px;

}

section button > a {

   
     color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  
}

section button:hover {

  padding: 30px;
  margin: 20px;
}

  



          /* Texto da segunda parte */

.escrita {

  padding: 60px;
  font-size: 18px;
  

}
.escrita h2 {

    text-align: center;
    margin-bottom: 20px;
    
}

.escrita h3 {

    text-align: center;
    margin-bottom: 20px;
    
}







/* Rodapé*/
.rodape {
  background-color: var(--violet-700);
  color: white;
  text-align: center;
  padding: 30px 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.rodape .social a {
  margin: 0 10px;
  display: inline-block;
}

.rodape .social img {
  width: 24px;
  height: 24px;
  filter: brightness(0) invert(1); 
  transition: 0.3s;
}

.rodape .social img:hover {
  opacity: 0.7;
}

.rodape .links {
  margin: 15px 0;
}

.rodape .links a {
  color: #ccc;
  text-decoration: none;
  margin: 0 5px;
  transition: color 0.3s;
}

.rodape .links a:hover {
  color: white;
}

.rodape .copy {
  margin-top: 10px;
  font-size: 13px;
  color: #999;
}