@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap");

* {

  font-family: 'Geist Mono', monospace;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  transition: 0.7s ease-in;
}



body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

header {
  color: white;
  padding: 20px;
  text-align: center;
  position: relative;
  background-color: #5a1a8a;

}

header .logo {
  max-height: 80px;
  display: block;
  margin: 0 auto 10px auto;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* MENU */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
}

.menu-toggle div {
  width: 25px;
  height: 3px;
  background: white;
  margin: 4px 0;
}



.banner img {
  width: 100%;
  height: auto;
}

main {
  padding: 20px;
}

form {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 700px;
  margin: auto;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.form-row {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 5px;
  font-weight: bold;
}

form input,
form select {
  padding: 8px;
  font-size: 1em;
  box-sizing: border-box;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #711c98;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #5a1a8a;
}

footer {
  
  text-align: center;
  padding: 20px;
  background: #fff;
  margin-top: 40px;


  position: fixed;
  bottom: 0;
}







/* Menu mobile */
@media (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column;
    background-color: #7f0a77;
    position: absolute;
    top: 80px;
    right: 20px;
    padding: 10px;
    border-radius: 6px;
    width: 200px;
    text-align: left;
  }

  nav ul.show {
    display: flex;
  }

  .menu-toggle {
    display: flex;
  }

  nav ul li {
    margin: 10px 0;
  }
}