footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 8%;
     flex-wrap: wrap; /* Adicionado para permitir quebra em telas pequenas */

    .footer-logo {
        width: 200px;
        height: 100%;
    }
/* Responsividade para telas menores */
@media (max-width: 768px) {
    footer {
        flex-direction: column;
        align-items: flex-start;
        padding: 24px 5%;
    }

    .footer-logo {
        width: 150px;
        margin-bottom: 16px;
    }
}
    #footer_link_content {
        display: flex;
        gap: 48px;

        .footer-list {
            display: flex;
            flex-direction: column;
            gap: 12px;
            list-style: none;

            li {
                .list-title {
                    color: var(--secondary-color);
                }

                .footer-link {
                    color: var(--white);
                    text-decoration: none;
                    transition: color 0.3s ease;

                    &:hover {
                        color: var(--secondary-color);
                    }
                }
            }
        }
    }
}



@media (max-width: 600px) {

    .footer-logo {
        width: 100px;
        height: 50%;
    }

    
}