#navbar {
    background: linear-gradient(180deg, #eeedf3, #f1effd);
    border-radius: 24px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    padding: 24px 4%;

    position: absolute;
    width: 92%;
    left: 50%;
    top: 24px;
    transform: translateX(-50%);

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Importante para quebrar em telas pequenas */
}

#navbar .logo {
    width: 150px;
    height: auto;
}

#navbar #nav_list {
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}

#navbar .nav-item .nav-link {
    text-decoration: none;
    font-size: 1.5rem;
    color: #020617;
    font-weight: 400;
}

#navbar .nav-item.active {
    border-bottom: 3px solid var(--primary-color-2);
}

#navbar .login-link {
    text-decoration: none;
    color: #ffffff;
    background-color: var(--primary-color-1);
    padding: 12px 16px;
    height: fit-content;
    border-radius: 8px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

#navbar .login-link:hover {
    background-color: var(--primary-color-2);
}

/*  Responsividade */
@media (max-width: 768px) {
    #navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 16px 5%;
    }

    #navbar #nav_list {
        flex-direction: column;
        gap: 16px;
        width: 100%;
        margin-top: 16px;
    }

    #navbar .login-link {
        margin-top: 16px;
        align-self: flex-start;
    }
}
