/* importando ficheiros CSS*/
@import url(/static/css/variables.css);

/* Paginda de inscrição*/
@import url(/static/css/inscricao/header.css);
@import url(/static/css/inscricao/footer.css);

/* Fontes CSS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', monospace, sans-serif;
}


body {
    background: radial-gradient(circle, var(--primary-color-1), var(--primary-color-2));

    
}


.page-title {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 180px 0px 0px 0px;

        h2 {
            font-size: 1rem;
            font-weight: 600;
            color: var(--secondary-color);
        }

        h1 {
            font-size: 3rem;
            font-weight: 600;
            line-height: 3rem;
            color: var(--white);
        }

        p {
            font-size: 1rem;
            font-weight: 400;
            color: var(--letter-color);
            margin-top: 8px;
            margin-bottom: 25px;
            max-width: 65%;
            text-align: center;
        }
}

#main_container {
    background-color: #f1effd;
    border-radius: 32px 32px 0px 0px;
    padding: 32px 8%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 34px;

    #contacts_container {
        width: 100%;

        h3 {
            font-size: 2rem;
            font-weight: 500;
        }

        p {
            font-size: 1rem;
            font-weight: 400;
            color: #010002;
            width: 80%;
        }

        h4 {
            font-size: 1.4rem;
            font-weight: 500;
            color: #010002;
            margin-top: 16px;
        }

        #cards_container {
            display: flex;
            flex-direction: column;
            gap: 25px;
            width: 100%;

            margin: 50px 0px;

            .contact-card {
                display: flex;
                align-items: center;
                gap: 50px;
                box-shadow: 0px 3px 5px rgba(0,0,0,0.1);
                background-color: var(--white);
                padding: 18px 12px;
                border-radius: 8px;
                text-decoration: none;

                transition: box-shadow 0.3 ease;

                &:hover {
                    box-shadow: 0px 3px 10px rgba(0,0,0,0.15);
                }

                .card-icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    min-width: 40px;
                    min-height: 40px;
                    max-width: 40px;
                    max-height: 40px;
                    border-radius: 100%;
                    font-size: 1.2rem;

                    
                }

                .card-infos {
                        p {
                            font-size: 1.2rem;
                            font-weight: 400;
                            line-height: 1.4rem;
                            color: #010002;
                        }

                        span {
                            font-size: 0.8rem;
                            font-weight: 500;
                            color: #475569;
                        }
                }

                &.phone {
                    .card-icon {
                        background-color: #faf5ed;
                        color: #cd9c4b;
                    }
                }

                &.location {
                    .card-icon {
                        background-color: #faf5ed;
                        color: #cd9c4b;
                    }
                }

                &.email {
                    .card-icon {
                        background-color: #faf5ed;
                        color: #cd9c4b;
                    }
                }

                &.whatsapp {
                    .card-icon {
                        background-color: #faf5ed;
                        color: #cd9c4b;
                    }
                }
            }
        }

        #social_media_icons {
            display: flex;
            gap: 12px;
            margin-top: 12px;

            .icon-link {
                height: 40px;
                width: 40px;

                display: flex;
                align-items: center;
                justify-content: center;

                text-decoration: none;
                color: var(--white);
                font-size: 1.2rem;

                border-radius: 100%;
                transition: background-color 0.3s ease;
                
                &.instagram {
                    background-color: #030712;
                    &:hover {
                        background-color: #030712b3;
                    }
                }

                &.facebook {
                    background-color: #3b5998;
                    &:hover {
                        background-color: #3b5898b3;
                    }
                }
            }
        }
    }

    
}


/* Responsividade : telas menores */

@media (max-width: 572px) {
  .page-title {
    h2 {
      font-size: 0.8rem;
    }

    h1 {
      font-size: 1.8rem;
      line-height: 1.8rem;
    }

    p {
      font-size: 0.8rem;
    }
  }

}

@media (max-width: 334px) {
  .page-title {
    h2 {
      font-size: 0.4rem;
    }

    h1 {
      font-size: 1.2rem;
      line-height: 1.2rem;
    }

    p {
      font-size: 0.4rem;
    }
  }

}
